html {
    overflow-x:hidden
}

* {
    padding: 0;
    margin: 0;
    height: auto;
}

body {
    height: auto;
}

header {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    grid-area: footer;
    background-color: black;
    color: #fff;
    padding: 20px;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #fff !important;
    text-decoration: none;
}

nav {
    display: flex;
}


header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #000;
}

.lista-nav {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 20px 0 20px 0;
}

.lista-nav>li>a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

ul.dropdown {
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    padding: 8px;
    z-index: 9999 !important;
    background-color: #000 !important;
}

ul {
    list-style: none;
    z-index: 9999 !important;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 10px 40px;
    color: #ffffff;
    text-decoration: none;
    text-align: left;
    font-size: 16px;
    z-index: 9999 !important;
}

ul li ul.dropdown li {
    display: block;
    z-index: 9999 !important;
}

ul li ul.dropdown {
    width: 100%;
    position: absolute;
    z-index: 9999 !important;
    display: none;
}

ul li:hover ul.dropdown {
    display: block;
    z-index: 9999 !important;
}

ul li ul.dropdown a {
    opacity: 0.5;
}


ul li ul.dropdown a:hover {
    opacity: 1;
    color: #000;
}

.dropdown>li>a {
    padding: 10px 50px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.dropdown>#margin-top-dropdown>a {
    margin-top: 20px;
}

#seta-baixo {
    display: inline-block;
    position: relative;
    bottom: 2px;
}

#link-home>a,
#link-mitologia>a,
#link-sair>a {
    padding-bottom: 8px;
}

#link-home:hover::after,
#link-sair:hover::after {
    content: "";
    height: 2px;
    background-color: #3064c5;
    margin-left: 20px;
    display: block;
    width: 70%;
    transition: .5s;
    animation-name: hover-animation;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes hover-animation {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

.buttonResponder>input[type=button],
.buttonResponder>input[type=submit] {
    border: none;
    background-color: #3027da;
    color: #fff;
    width: 150%;
    padding: 20px;
    font-size: 18px;
    border-radius: 37px;
    cursor: pointer;
}

@keyframes sair-animation {
    0% {
        width: 70%;
        height: 2px;
    }

    100% {
        width: 0%;
        height: 2px;
    }
}

#link-mitologia:hover::after {
    content: "";
    height: 2px;
    background-color: #3064c5;
    margin-left: 25px;
    display: block;
    width: 80%;
    transition: .5s;
    animation-name: hover-animation;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.mouseSaiuMitologia::after {
    content: "";
    background-color: #3064c5;
    margin-left: 25px;
    display: block;
    animation-name: sair-animation-grecia;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes sair-animation-grecia {
    0% {
        width: 80%;
        height: 2px;
    }

    100% {
        width: 0%;
        height: 2px;
    }
}

.dropdown>li>a {
    padding: 8px 8px;
}

#margin-top-dropdown:hover::after,
#linkArtemoderna:hover::after,
#linkHindu:hover::after,
#linkExpressoes:hover::after,
#linkSintaxe:hover::after,
#linkGeral:hover::after,
#linkVanguardas:hover::after {
    content: "";
    height: 2px;
    background-color: #3064c5;
    display: block;
    width: 100%;
    animation-name: dropdown-animations;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes dropdown-animations {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

#link-dropdown-excessao:hover::after {
    content: "";
    height: 2px;
    background-color: #3064c5;
    display: block;
    width: 100%;
    animation-name: dropdown-excessao-animation;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes dropdown-excessao-animation {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.saiuEgipcia::after,
.saiuGrecia::after,
.saiuGeral::after,
.saiuHindu::after,
.saiuIrlandesa::after,
.saiuNordica::after,
.saiuRomana::after {
    content: "";
    background-color: #3064c5;
    width: 100%;
    display: block;
    animation-name: sair-dropdown-animations;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes sair-dropdown-animations {
    0% {
        width: 100%;
        height: 2px;
    }

    100% {
        width: 0%;
        height: 2px;
    }
}

.saiuMesopotamia::after {
    content: "";
    background-color: #3064c5;
    display: block;
    width: 100%;
    animation-name: sair-dropdown-excessao;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes sair-dropdown-excessao {
    0% {
        width: 100%;
        height: 2px;
    }

    100% {
        width: 0%;
        height: 2px;
    }
}

@media (min-width: 1027px) {
    .dropdown {
        display: block;
    }

    .dropdown li {
        display: block;
        z-index: 9999;
    }
}

@media (min-width: 769px) and (max-width: 1023px) {
    .header {
        padding: 30px;
    }

    .lista-nav {
        display: block;
        z-index: 9999;
    }

    .lista-nav ul {
        text-align: center;
        z-index: 9999;
    }

    .lista-nav li {
        display: inline;
        margin-right: 20px;
        z-index: 9999;
    }

    .logo {
        width: auto;
    }

    .dropdown {
        display: block;
        z-index: 9999 !important;
    }

    aside {
        display: none;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .header {
        padding: 20px;
    }

    .lista-nav {
        display: block;
    }

    .logo {
        width: 100%;
    }

    .dropdown {
        display: block;
    }

    aside {
        display: none;
    }
}

@media (max-width: 425px) {
    .header {
        padding: 10px;
    }

    .lista-nav {
        display: block;
    }

    .logo {
        width: 100%;
    }

    .dropdown {
        display: block;
    }

    aside {
        display: none;
    }
}