* {
    padding: 0;
    margin: 0;
}

header {
    height: 150px;
}

.logo {
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    grid-area: footer;
    background-color: black;
    color: #fff;
    padding: 20px;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #fff;
    text-decoration: none;
}