@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    margin: 0;
    grid-template-areas:
        "header header"
        "main aside"
        "footer footer"
    ;
    grid-template-columns: 80% 20%;
}

header {
    background-color: black;
    grid-area: header;
    height: 150px;
}

nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
}

li {
    width: 100%;
    cursor: pointer;
    list-style: none;
}

li:hover {
    background-color: rgba(53, 53, 53, 0.7);
}

#menu-toggle {
    display: none;
}

.menu {
    position: fixed;
    top: 0;
    right: -350px;
    width: 300px;
    height: 100vh;
    background-color: #161616;
    padding: 90px 20px;
    transition: transform 0.3s ease;
}

#menu-toggle:checked~.menu {
    transform: translateX(-300px);
}

.menu-button {
    margin: 20px 50px;
    display: inline-block;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
    order: 2;
    z-index: 1;
}

.bar {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #FFF;
    position: absolute;
    left: 0;
    transition: transform 0.3s ease;
}

.bar:nth-child(1) {
    top: 0;
}

.bar:nth-child(2) {
    top: 8px;
}

.bar:nth-child(3) {
    top: 16px;
}

#menu-toggle:checked+.menu-button .bar:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
}

#menu-toggle:checked+.menu-button .bar:nth-child(2) {
    opacity: 0;
}

#menu-toggle:checked+.menu-button .bar:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}

#menu-toggle:checked~.menu {
    display: block;
}

nav a {
    text-align: center;
    font-size: 1.1em;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    color: #FFF;
}

#logo-foto {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: start;
    background-color: #000;
}

#logo img {
    padding: 20px;
}

nav a {
    text-align: center;
}

header {
    background-color: black;
    grid-area: header;
    height: 150px;
}

a {
    display: grid;
    grid-template-columns: 200px 3fr;
    font-size: 1.5em;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    padding: 70px 100px;
    grid-area: main;
    height: auto;
    text-align: justify;
    letter-spacing: 0.7px;
}

main>h2 {
    margin: 30px 0 10px 0;
}

main>h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    margin: 70px 0;
}

aside {
    grid-area: aside;
    background-color: #2b2b2b;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
}

.frase-foto {
    margin-top: 80px;
}

.img-aside {
    width: 70%;
    height: auto;
    border-radius: 30px;
}

figure>img {
    display: block;
    margin: auto;
    width: 40%;
}

figcaption {
    text-align: center;
}

footer {
    grid-area: footer;
    background-color: black;
    color: #fff;
    padding: 20px;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    .container {
      grid-template-columns: 100%;
    }
  
    main {
      padding: 40px;
    }
    aside {
        display: none;
    }
  }
  
  @media screen and (max-width: 768px) {
    main {
      padding: 20px;
    }
    .logo {
        width: 150px !important;
        height: 100px !important;
    }
    .dropdown {
        z-index: 10000 !important;
    }
    aside {
        display: none;
    }
  }
  
  @media screen and (max-width: 425px) {
    .menu {
      width: 80%; 
    }
  
    nav {
      padding: 10px;
    }
  
    main {
      padding: 10px;
    }
  
    .menu-button {
      margin: 10px 20px;
    }
    aside {
        display: none;
    }
  }